@import url("../html/fonts/stylesheet.css");
*{
	margin:0;
	padding:0;
}

img{
	border: none;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
}
body{
	background: url("../images/bg-body.png") repeat;
	width: 100%;
	margin: 0 auto;
	font-family: Arial;
	font-size: 12px;
}
#header{
	background: url("../images/bg-header.png") repeat-x;
	height:91px;
	padding-top: 15px;
}

#wrapper-ip1{display:none;}
/*wrapper ip 2(    @media screen and (max-width: 640px)   )----------------------------------------- */

#wrapper-ip2{
	width:640px;
	margin:0 auto;
	background: url('../images/background-ip.jpg') repeat top ;
	padding-bottom:40px;
}
#wrapper-ip2 .ui-widget-content {
    background: url("../images/slide-bg-ip.png") no-repeat scroll transparent !important;
    border: none !important;
    border-radius: 2px !important;
    color: #222222;
    height: 40px;
    width: 347px;
	float:right;
	top:30px;
}
#wrapper-ip2 .ui-widget-header {
    background: url("../images/slide-ip.png") repeat-x scroll right 50% transparent !important;
    border: none;
    border-radius: 0px !important;
    color: #222222;
    font-weight: bold;
}
input#amount1 {
    background: url("../images/message.png") no-repeat scroll 50% 50% transparent !important;
    font-size: 28px !important;
    height: 64px;
    position: absolute !important;
    right: 10px;
    top: -48px;
    width: 79px;
    z-index: 9;
	font-family:'robotoblack';
	text-align:center;
}
.logo-ip{
	float:left;
}
.short-menu{
	float:right;
}
.header-ip{
	padding-top:13px;
}
.top-header-ip{
	background: url('../images/background-header-ip.png') repeat-x bottom ;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:13px;
}
.amanda-ip{
	background: url("../images/avata-bg.jpg") repeat scroll 0 0 transparent;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px #3A1903;
    height: 98px;
    margin-top: 6px;
}
.main-header-ip{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:6px;
	background: url('../images/background-header-ip.png') repeat-x bottom ;
	padding-bottom:20px;
}
.amanda-ip img {
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 3px #70503B;
    margin-left: 17px;
    margin-top: -13px;
	float:left;
}
.amanda-ip span{
	background: url("../images/arrow-avata-ip.png") no-repeat scroll right center transparent;
    color: #FFFFFF;
    display: block;
    float: right;
    font-family: 'robotobold';
    font-size: 36px;
    height: 98px;
    line-height: 98px;
    margin-right: 34px;
    width: 73%;
	cursor:pointer;
}
.avance-ip{
	background: url("../images/avance-bg.png") repeat-x;
	height:98px;
	margin-top:6px;
	border-radius:10px;
	width:480px;
	float:left;
	padding: 0 15px;
	box-shadow: 0 1px 3px #3A1903;
	position: relative;
}
.avance-ip span{
	height:98px;
	line-height:98px;
	color:#fff;
	font-size:27px;
	font-family: 'robotobold';
	text-transform: uppercase;
}
.info-ip{
	float:right;
	height:98px;
	padding: 0 15px;
	background: url("../images/avance-bg.png") repeat-x;
	width:66px;
	margin-top:6px;
	border-radius:10px;
	text-align:center;
	box-shadow: 0 1px 3px #3A1903;
}
.info-ip img{
	margin-top:25px;
}
.menu-ip {
	padding: 0 15px;
}
.menu-ip ul{
	background: url("../images/bg-menu-ip.png") repeat-x;
	list-style: none;
	margin:0;
}
.menu-ip li a{
	text-align:center;
	height:62px;
	line-height:62px;
	font-size:35px;
	color:#fff;
	text-transform:uppercase;
	display:block;
}
.menu-ip li:hover{
	background:#fff;
}
.menu-ip li:hover a{
	color:#ffcc33;
	text-decoration:none;
}
/*wrapper ip 1(    @media screen and (max-width: 640px)   )----------------------------------------- */

#wrapper-ip1{
	width:640px;
	margin:0 auto;
	background: url('../images/bg-wrapp2.png') repeat top ;
	padding-bottom:40px;
}
.header-ip1{
	background: url('../images/background-ip.jpg') repeat top ;
}
.logo-ip{
	padding-top:7px;
}
.inner-header-ip1{
	background: url('../images/background-header-ip.png') repeat-x bottom ;
	padding:13px 15px;
}

.where-ip1 {
    background: url("../images/where-ip.png") repeat-y scroll left top #040404 !important;
    color: #CCCCCC;
    font-family: 'robotobold';
    height: 28px;
    line-height: 28px;
    margin-top: 4px;
    padding-left: 8px;
	margin-left:12px;
}
.where-ip1 a {
    background: url("../images/bg-a.png") no-repeat scroll right center transparent !important;
    color: #999999 !important;
    padding-left: 5px;
    padding-right: 5px;
	font-family: 'robotoregular';
}
.unit-ip{
	margin-left:10px;
	background: url('../images/unit-ip.png') repeat-y left;
	margin-top:4px;
}
.unit-ip ul{
	list-style:none;
	margin-left:0px;
	margin-bottom:0;
}
.unit-ip li{
	display:inline-block;
	zoom:1;
	*display:inline;
	height:70px;
	width:70px;
	margin-left:6px;
	text-align:center;
}
.unit-ip li:hover{
	background:#fff;
}
.unit-ip li a{
	line-height:70px;
	color:#515151;
	text-transform:uppercase;
	font-family:'robotoblack';
	text-align:center;
	display:block;
	font-size:25px;
}
.unit-ip li:hover a{
	color:#ffcc33 !important;
	text-decoration:none;
}
.unit-ip li:first-child{
	margin-left:0;
}
.main-content-ip{
	padding-left:11px;
	padding-right:13px;
}
.decription-ip{
	height:460px;
	background: url("../images/img-bg-ip.jpg") #d1c1b6;
	margin-top:4px;
	padding-left:15px;
	padding-top:5px;
	position:relative;
}
.decription-ip h2{
	font-size:47px;
	font-family:'robotobold';
	font-weight:normal;
	padding-bottom:20px;
}
.decription-ip h2 span{
	font-size:50px;
	color:#ffcc33;
	display:block;
	padding-bottom:14px;
}
.decription-ip p{
	font-family: 'robotoregular';
    font-size: 24px;
    line-height: 25px;
    width: 57%;
}
.content-unit{
	font-size:16px;
	color:#3e3e3e;
	position:absolute;
	bottom:30px;
}
.list-unit-ip {
    background: none repeat scroll 0 0 #D3D3D3;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-top: 3px;
}
.content-unit h3{
	color:#ffcc33;
	font-family:'robotobold';
	font-weight:normal;
}
.content-unit ul{margin:0;}
.content-unit li{
	background: url("../images/li-bg.png") no-repeat scroll left 7px transparent;
    list-style: none outside none;
	padding-left:10px;
	width: 57%;
}

.shadow {
    background: url("../images/shadow-ip.png") repeat scroll 0 0 #D3D3D3;
    height: 12px;
}
.learn-box-ip  {
	width:300px;
	height:286px;
	float:left;
	font-size:42px;
	font-family:'robotobold';
	color:#fff;
	position: relative;
	text-decoration: none !important;
	cursor: pointer;
	margin-left:2px;
}
.learn-box-ip span {
	display:block;
	height:300px;
	width:300px;
	position: absolute;
	top:0;
	left:10px;
}

.box-ip-active{
	display:none;	
}
.list-unit-ip  .active-ip p{
	color:#d4d4d4;
}
.list-unit-ip  .active-ip .box-ip{
	display: none;
}
.list-unit-ip .active-ip .box-ip-active{
	display: block;
}
.list-unit-ip  .active-ip .box-ip-active span {
	background: url("../images/activer-ip.png") no-repeat scroll 50% 50% !important;
}
.learn-box-ip  p {
	line-height: 40px;
    padding: 25px;
    position: absolute;
	}
.footer-ip{
	color:#848484;
	font-size:18px;
	text-align:center;
	padding-top:20px;
	padding-bottom:50px;
	font-family:'robotoregular';
}
.perfil-ip{
	display:none;
}
.perfil-ip ul {
    list-style: none outside none;
    position: relative;
    top: 97px;
    z-index: 3;
}
.perfil-ip ul li{
	background:#343434;
	padding-left:5px;
	padding-right:5px;
	border:1px #5c5c5c solid;
	margin-top:-1px;
	height:29px;
}
.perfil-ip ul li.crear a{
	background: url('../images/icon.png') no-repeat 8px 3px;
}
.perfil-ip ul li.modificar a{
	background: url('../images/icon.png') no-repeat 8px -26px;
}
.perfil-ip ul li.educa a{
	background: url('../images/icon.png') no-repeat 8px -58px;
}
.perfil-ip ul li.cursor a{
	background: url('../images/icon.png') no-repeat 8px -86px;
}
.perfil-ip ul li.enlaces a{
	background: url('../images/icon.png') no-repeat 8px -116px;
}
.perfil-ip ul li a{
	color:#fff;
	display:block;
	line-height:29px;
	padding-left:39px;
}
.perfil-ip ul li a:hover{
	color:#ffcc35;
	text-decoration: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    cursor: pointer !important;
    top: -3px !important;
}