
@media screen and (max-width: 640px){
	#wrapper{
		display:none;
	}
	#wrapper-ip1{
		display:block;
	}
	#wrapper-ip2{
		display:none;
	}
}
@media screen and (min-width: 641px){
	#wrapper{
		display:block;
	}
	#wrapper-ip1{
		display:none !important;
	}
	#wrapper-ip2{
		display:none !important;
	}
}