@import url("../html/fonts/stylesheet.css");
*{
	margin:0;
	padding:0;
}

img{
	border: none;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
}
body{
	background: url("../images/bg-body.png") repeat;
	width: 100%;
	margin: 0 auto;
	font-family: Arial;
	font-size: 12px;
}
#header{
	background: url("../images/bg-header.png") repeat-x;
	height:91px;
	padding-top: 15px;
}
#wrapper-ip2{
	display:none;
}
#wrapper-ip1{display:none;}
.inner-header,#footer{
	width:912px;
	margin:0 auto;
}
.top-header-left {
	float:left;
}

.top-header-right {
	float:right;
}
.top-header-right .box-right {
    background: url("../images/box-right.png") repeat-x scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 2px #666666;
    float: left;
    font-family: 'robotobold';
    height: 33px;
    margin-left: 2px;
}
.avata{
	margin-top:-15px;
	box-shadow: 0 0 1px #555555;
	margin-left:5px;
	margin-right:5px;
}
.box1 span{
	display:inline;
	color:#fff;
	background: url("../images/arrow.png") no-repeat right center;
	padding-right: 26px;
	line-height:34px;
	margin-right:10px;
	font-size:14px;
	cursor:pointer;
}
.box2 span,.box3 span{
	display:inline;
	color:#fff;
	margin-left:5px;
	line-height:34px;
	text-transform: uppercase;
	font-size:11px;
}
.box2{
	width:160px;
}
.box2 img{
	margin-top:-18px;
}
/*slide------------------*/

.ui-widget-content {
    background: url("../images/slide-bg.png") repeat-x scroll 50% 50% !important;
    border: 1px solid #282828 !important;
    border-radius: 7px !important;
    color: #222222;
    height: 14px;
    width: 90px;
}

.ui-widget-header {
    background: url("../images/slide.png") no-repeat scroll right 50% transparent !important;
    border: 1px solid #AAAAAA;
    border-radius: 7px 7px 7px 7px !important;
    color: #222222;
    font-weight: bold;
}
.ui-slider .ui-slider-handle {
    cursor: default;
    position: absolute;
    z-index: 2;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none !important;
    border: 0 none !important;
    cursor: pointer !important;
    top: -3px !important;
}

.box2 > div{
	float: right !important;
    margin-left: 5px !important;
    margin-top: 10px !important;
} 

.box2 input {
    background: url("../images/text.png") no-repeat scroll 50% 50% transparent !important;
    font-size: 10px !important;
    position: absolute !important;
    right: -19px;
    top: -16px;
    width: 30px;
    z-index: 9;
	font-family:'robotoblack';
	text-align:center;
}
.box3 img{padding-right:15px;padding-left:7px;}
.menu-level{
	padding-top: 14px !important;
}
.menu-level ul {
    background: url("../images/bg-menu.png") repeat scroll center top transparent !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0 !important;
    width: 100%;
}
.menu-level li{
	list-style: none;
	float:left;
	width:114px;
	height:38px;
}
.menu-level li a{
	font-family:'robotoregular';
	color:#fff;
	display: block;
	text-align: center;
	line-height:38px;
	text-transform: uppercase;
}
.menu-level li a:hover{
	text-decoration: none !important;
}

.menu-level li *:hover,.menu-level li.active a {
    background: url("../images/menu-hover.png") no-repeat scroll center top transparent !important;
    padding-bottom: 10px;
	color:#ffcc33;
}
.where{
	margin-top:8px;
	height:28px;
	background: url("../images/where.png") repeat-y scroll left top #040404 !important;
	padding-left:8px;
	line-height:28px;
	color:#cccccc;
	font-family:'robotobold';
}
.where a {
    background: url("../images/bg-a.png") no-repeat scroll right center transparent !important;
    color: #999999 !important;
    padding-left: 5px;
    padding-right: 5px;
	font-family: 'robotoregular';

}
#content{
	width:912px;
	margin:0 auto
}
.inner-content{
	margin-top:3px ;
}
.content-left{
	width:114px;
	float:left;
	background: url("../images/bg-unit.png") repeat scroll right center transparent !important;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.content-right{
	width:795px;
	float:right;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.unit{
	list-style: none !important;
}
.unit,.unit a{
	list-style: none !important;
	font-family: 'robotoregular';
	font-size:16px;
	color:#494949;
	margin:0;
	line-height: 17px;
}
.unit a:hover,.unit a:focus{
	text-decoration: none !important;
	color:#494949 !important;
}
.unit h3{
	font-family:'robotoblack';
	font-size:14px;
	color:#575555;
	font-weight: normal;
	line-height:20px;
	margin:0 !important;
}
.unit div:hover  h3{
	color:#ffcc33;
}
.unit div {
    background: url("../images/bg-li.png") no-repeat scroll 8px bottom transparent !important;
    padding-bottom: 5px;
    padding-top: 5px;
	padding-left:8px !important;
	display: block;
	cursor: pointer;
}
.unit div:hover {
	background:#fff !important;
	text-decoration: none !important;
}
.unit .activea
{
	background:#fff !important;
	text-decoration: none !important;
}

.unit .activea h3{
	color:#ffcc33;
}
.main-content{
	background: url("../images/bg-bottom.jpg") no-repeat scroll bottom center transparent !important;
	height:329px;
}
.decription{
	background: url("../images/img-unit1.jpg") no-repeat scroll transparent !important;
	padding:15px;
	position: relative;
	padding-bottom:0 ;
	height:309px;
}
.decription h2{
	font-family:'robotobold';
	font-size: 40px;
	color:#3e3e3e;
	padding-bottom:15px;
}
.decription h2 span{
	color:#ffcc33;
}
.decription p{
	width:45%;
	font-size:18px;
	font-family: 'robotoregular';
}
.decription input {
	background: url("../images/bg-button.png") repeat-x scroll transparent !important;
	height:28px;
	line-height:30px !important;
	color:#666666;
	position: absolute;
	border: none;
	font-family:'robotobold';
	padding-left:15px;
	padding-right:15px;
	font-size:11px;
	right: 11px;
	bottom:25px;
}
.bottom-content {
	background: url("../images/bg-bottom-content.jpg") repeat-x scroll #d3c3b8 !important;
	padding-top:15px;
	padding-bottom:33px;
}
.learn-box  {
	width:130px;
	height:135px;
	float:left;
	font-size:22.5px;
	font-family:'robotobold';
	color:#fff;
	position: relative;
	text-decoration: none !important;
	cursor: pointer;
}
.learn-box span {
	display:block;
	height:100px;
	width:100px;
	position: absolute;
	top:20px;
	left:10px;
}
.learn-box:first-child {
	margin-left:9px;
}
.bottom-content p {
    padding: 15px;
    position: absolute;
    z-index: 2;
}
.bottom-content img{
	position: absolute;
	top:0;
}
.box-active{
	display:none;	
}
.bottom-content .active p{
	color:#d4d4d4;
}
.bottom-content .active .box{
	display: none;
}
.bottom-content .active .box-active{
	display: block;
}
.bottom-content .active .box-active span {
	background: url("../images/activer.png") no-repeat scroll 50% 50% !important;
}
#footer{
	text-align: center;
	font-size:12px;
	color:#848484;
	margin-top:10px;
	padding-bottom:20px;
}
#footer a{
	font-weight: bold;
	color:#848484;
}
#footer  ul {
	display:inline;
	margin: 0 !important;
}
#footer ul li {
    background: url("../images/bg-li-footer.png") no-repeat scroll left center transparent !important;
    display: inline;
    list-style: disc outside none;
    padding-left: 5px;
}
#footer ul li:first-child {
    margin-left: 0px;
	background: none !important;
}
.perfil{
	display:none;
}
.perfil ul{
	margin:0;
	list-style: none;
	position:relative;
	margin:-1px 0 0;
	z-index:2;
}
.perfil ul li{
	background:#343434;
	padding-left:5px;
	padding-right:5px;
	border:1px #5c5c5c solid;
	margin-top:-1px;
	height:29px;
}
.perfil ul li.crear a{
	background: url('../images/icon.png') no-repeat 8px 3px;
}
.perfil ul li.modificar a{
	background: url('../images/icon.png') no-repeat 8px -26px;
}
.perfil ul li.educa a{
	background: url('../images/icon.png') no-repeat 8px -58px;
}
.perfil ul li.cursor a{
	background: url('../images/icon.png') no-repeat 8px -86px;
}
.perfil ul li.enlaces a{
	background: url('../images/icon.png') no-repeat 8px -116px;
}
.perfil ul li a{
	color:#fff;
	display:block;
	line-height:29px;
	padding-left:39px;
}
.perfil ul li a:hover{
	color:#ffcc35;
	text-decoration: none;
}
/*wrapper ip 2(    @media screen and (max-width: 640px)   )----------------------------------------- */

#wrapper-ip2{
	width:640px;
	margin:0 auto;
	background: url('../images/background-ip.jpg') repeat top ;
	padding-bottom:40px;
}
#wrapper-ip2 .ui-widget-content {
    background: url("../images/slide-bg-ip.png") no-repeat scroll transparent !important;
    border: none !important;
    border-radius: 2px !important;
    color: #222222;
    height: 40px;
    width: 347px;
	float:right;
	top:30px;
}
#wrapper-ip2 .ui-widget-header {
    background: url("../images/slide-ip.png") repeat-x scroll right 50% transparent !important;
    border: none;
    border-radius: 0px !important;
    color: #222222;
    font-weight: bold;
}
input#amount1 {
    background: url("../images/message.png") no-repeat scroll 50% 50% transparent !important;
    font-size: 28px !important;
    height: 64px;
    position: absolute !important;
    right: 10px;
    top: -48px;
    width: 79px;
    z-index: 9;
	font-family:'robotoblack';
	text-align:center;
}
.logo-ip{
	float:left;
}
.short-menu{
	float:right;
}
.header-ip{
	padding-top:13px;
}
.top-header-ip{
	background: url('../images/background-header-ip.png') repeat-x bottom ;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:13px;
}
.amanda-ip{
	background: url("../images/avata-bg.jpg") repeat scroll 0 0 transparent;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px #3A1903;
    height: 98px;
    margin-top: 6px;
}
.main-header-ip{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:6px;
	background: url('../images/background-header-ip.png') repeat-x bottom ;
	padding-bottom:20px;
}
.amanda-ip img {
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 3px #70503B;
    margin-left: 17px;
    margin-top: -13px;
	float:left;
}
.amanda-ip span{
	background: url("../images/arrow-avata-ip.png") no-repeat scroll right center transparent;
    color: #FFFFFF;
    display: block;
    float: right;
    font-family: 'robotobold';
    font-size: 36px;
    height: 98px;
    line-height: 98px;
    margin-right: 34px;
    width: 73%;
	cursor:pointer;
}
.avance-ip{
	background: url("../images/avance-bg.png") repeat-x;
	height:98px;
	margin-top:6px;
	border-radius:10px;
	width:480px;
	float:left;
	padding: 0 15px;
	box-shadow: 0 1px 3px #3A1903;
	position: relative;
}
.avance-ip span{
	height:98px;
	line-height:98px;
	color:#fff;
	font-size:27px;
	font-family: 'robotobold';
	text-transform: uppercase;
}
.info-ip{
	float:right;
	height:98px;
	padding: 0 15px;
	background: url("../images/avance-bg.png") repeat-x;
	width:66px;
	margin-top:6px;
	border-radius:10px;
	text-align:center;
	box-shadow: 0 1px 3px #3A1903;
}
.info-ip img{
	margin-top:25px;
}
.menu-ip {
	padding: 0 15px;
}
.menu-ip ul{
	background: url("../images/bg-menu-ip.png") repeat-x;
	list-style: none;
	margin:0;
}
.menu-ip li a{
	text-align:center;
	height:62px;
	line-height:62px;
	font-size:35px;
	color:#fff;
	text-transform:uppercase;
	display:block;
}
.menu-ip li:hover{
	background:#fff;
}
.menu-ip li:hover a{
	color:#ffcc33;
	text-decoration:none;
}
/*wrapper ip 1(    @media screen and (max-width: 640px)   )----------------------------------------- */

#wrapper-ip1{
	width:640px;
	margin:0 auto;
	background: url('../images/bg-wrapp2.png') repeat top ;
	padding-bottom:40px;
}
.header-ip1{
	background: url('../images/background-ip.jpg') repeat top ;
}
.logo-ip{
	padding-top:7px;
}
.inner-header-ip1{
	background: url('../images/background-header-ip.png') repeat-x bottom ;
	padding:13px 15px;
}

.where-ip1 {
    background: url("../images/where-ip.png") repeat-y scroll left top #040404 !important;
    color: #CCCCCC;
    font-family: 'robotobold';
    height: 28px;
    line-height: 28px;
    margin-top: 4px;
    padding-left: 8px;
	margin-left:12px;
}
.where-ip1 a {
    background: url("../images/bg-a.png") no-repeat scroll right center transparent !important;
    color: #999999 !important;
    padding-left: 5px;
    padding-right: 5px;
	font-family: 'robotoregular';
}
.unit-ip{
	margin-left:10px;
	background: url('../images/unit-ip.png') repeat-y left;
	margin-top:4px;
}
.unit-ip ul{
	list-style:none;
	margin-left:0px;
	margin-bottom:0;
}
.unit-ip li{
	display:inline-block;
	zoom:1;
	*display:inline;
	height:70px;
	width:70px;
	margin-left:6px;
	text-align:center;
}
.unit-ip li:hover{
	background:#fff;
}
.unit-ip li a{
	line-height:70px;
	color:#515151;
	text-transform:uppercase;
	font-family:'robotoblack';
	text-align:center;
	display:block;
	font-size:25px;
}
.unit-ip li:hover a{
	color:#ffcc33 !important;
	text-decoration:none;
}
.unit-ip li:first-child{
	margin-left:0;
}
.main-content-ip{
	padding-left:11px;
	padding-right:13px;
}
.decription-ip{
	height:460px;
	background: url("../images/img-bg-ip.jpg") #d1c1b6;
	margin-top:4px;
	padding-left:15px;
	padding-top:5px;
	position:relative;
}
.decription-ip h2{
	font-size:47px;
	font-family:'robotobold';
	font-weight:normal;
	padding-bottom:20px;
}
.decription-ip h2 span{
	font-size:50px;
	color:#ffcc33;
	display:block;
	padding-bottom:14px;
}
.decription-ip p{
	font-family: 'robotoregular';
    font-size: 24px;
    line-height: 25px;
    width: 57%;
}
.content-unit{
	font-size:16px;
	color:#3e3e3e;
	position:absolute;
	bottom:30px;
}
.list-unit-ip {
    background: none repeat scroll 0 0 #D3D3D3;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-top: 3px;
}
.content-unit h3{
	color:#ffcc33;
	font-family:'robotobold';
	font-weight:normal;
}
.content-unit ul{margin:0;}
.content-unit li{
	background: url("../images/li-bg.png") no-repeat scroll left 7px transparent;
    list-style: none outside none;
	padding-left:10px;
	width: 57%;
}

.shadow {
    background: url("../images/shadow-ip.png") repeat scroll 0 0 #D3D3D3;
    height: 12px;
}
.learn-box-ip  {
	width:300px;
	height:286px;
	float:left;
	font-size:42px;
	font-family:'robotobold';
	color:#fff;
	position: relative;
	text-decoration: none !important;
	cursor: pointer;
	margin-left:2px;
}
.learn-box-ip span {
	display:block;
	height:300px;
	width:300px;
	position: absolute;
	top:0;
	left:10px;
}

.box-ip-active{
	display:none;	
}
.list-unit-ip  .active-ip p{
	color:#d4d4d4;
}
.list-unit-ip  .active-ip .box-ip{
	display: none;
}
.list-unit-ip .active-ip .box-ip-active{
	display: block;
}
.list-unit-ip  .active-ip .box-ip-active span {
	background: url("../images/activer-ip.png") no-repeat scroll 50% 50% !important;
}
.learn-box-ip  p {
	line-height: 40px;
    padding: 25px;
    position: absolute;
	}
.footer-ip{
	color:#848484;
	font-size:18px;
	text-align:center;
	padding-top:20px;
	padding-bottom:50px;
	font-family:'robotoregular';
}
.perfil-ip{
	display:none;
}
.perfil-ip ul {
    list-style: none outside none;
    position: relative;
    top: 97px;
    z-index: 3;
}
.perfil-ip ul li{
	background:#343434;
	padding-left:5px;
	padding-right:5px;
	border:1px #5c5c5c solid;
	margin-top:-1px;
	height:29px;
}
.perfil-ip ul li.crear a{
	background: url('../images/icon.png') no-repeat 8px 3px;
}
.perfil-ip ul li.modificar a{
	background: url('../images/icon.png') no-repeat 8px -26px;
}
.perfil-ip ul li.educa a{
	background: url('../images/icon.png') no-repeat 8px -58px;
}
.perfil-ip ul li.cursor a{
	background: url('../images/icon.png') no-repeat 8px -86px;
}
.perfil-ip ul li.enlaces a{
	background: url('../images/icon.png') no-repeat 8px -116px;
}
.perfil-ip ul li a{
	color:#fff;
	display:block;
	line-height:29px;
	padding-left:39px;
}
.perfil-ip ul li a:hover{
	color:#ffcc35;
	text-decoration: none;
}
